@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
}

@keyframes rotate-up {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-down {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

:host {
  display: inline-block;
  font-family: 'Roboto';
  box-sizing: border-box;
}

button,
.toggle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  width: 208px;
  height: 56px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e2e2e4;
  color: #000;
}

.rotate-up {
  animation: rotate-up 0.25s;
  animation-fill-mode: forwards;
}

.rotate-down {
  animation: rotate-down 0.05s;
  animation-fill-mode: forwards;
}

button:hover {
  border: 1px solid #a4a6ab;
}

.dropdown-item__wrapper {
  position: absolute;
}

.toggle.dropdown-item:hover {
  background-color: #f6f6f9;
}

.selected {
  background-color: #c1c6d8;
}
